Q1 :- Print the given strings as per stated format.
Given strings:

"Data" "Science" "Mentorship" "Program"
"By" "CampusX"

In [1]:
print("Data","Science","Mentorship","Program",sep="-",end="-started-")
print("By","campusX",sep ="-")

Data-Science-Mentorship-Program-started-By-campusX

Q2:- Write a program that will convert celsius value to fahrenheit.

In [6]:
#take the input (temp value ) from the user.
temp_val = int(input("enter the temp value"))
#convert the input taken from the user to fahrenheit
fah_val = ((temp_val*9/5)+32)
#print the result
print(fah_val)

enter the temp value36
96.8

Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [14]:
a = int(input('enter the first number'))
b = int(input('enter the second number'))
#print before swaping
print("Before swapping:")
print("a =", a,"b =", b)
#swap the number
a, b = b, a # tuple unpacking
#verification
print("After swapping:")
print("a =", a,"b =", b)

enter the first number4
enter the second number5
Before swapping:
a = 4 b = 5
After swapping:
a = 5 b = 4

In [13]:
a = 5
b = 10
print("before swaping:a=",a,"b=",b)
temp = a   # store 'a' in temp
a = b      # assign value of 'b' to 'a'
b = temp   # assign value of 'temp' (old 'a') to 'b'
print("after swaping:a=",a,"b=",b)

before swaping:a= 5 b= 10
after swaping:a= 10 b= 5

Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [22]:
import math
x1=int(input("enter the distance"))
x2= int(input("enter the distance"))
y1=int(input("enter the distance"))
y2= int(input("enter the distance"))
euc_dist = math.sqrt((x2-x1)**2+(y2-y1)**2)
print(euc_dist)

enter the distance43
enter the distance21
enter the distance43
enter the distance32
24.596747752497688

Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [23]:
#taking the input from the user
principle = int(input("enter the value"))
rate = int(input("enter the value"))
time = int(input("enter the value"))
#calculating the simple interest value by putting it into the formula
simple_interest = (principle*rate*time)/100
#print the simple interest value
print(simple_interest)

enter the value6000
enter the value8
enter the value2
960.0

Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
For example: Input: heads -> 4 legs -> 12
Output: dogs -> 2 chicken -> 2

In [27]:
#taking the input from the user
_heads_count = int(input("enter the number of heads"))
_legs_count  = int(input("enter the number of legs"))
#solving the logic
#dogs + chicken = heads
#4dogs +2 chicken = legs
#solving the equation
# no of dogs = (legs - 2heads)/2
#no of chicken = no of heads - no of dogs
no_of_dogs = (_legs_count-2*_heads_count)/2
no_of_chicken = _heads_count - no_of_dogs
print("no_of_dogs",no_of_dogs)
print("no_of_chicken",no_of_chicken)

enter the number of heads4
enter the number of legs12
no_of_dogs 2.0
no_of_chicken 2.0

Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.1

In [28]:
n = int(input("enter the number"))
sum_of_squares = (n*(n+1)*(2*n+1))/6
print(sum_of_squares)

enter the number4
30.0

Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [31]:
a = int(input("enter the 1st number"))
b = int(input("enter the 2nd number"))
n = int(input("enter number of terms needed"))
d = b-a
sum_of_nth_term = a+(n-1)*d
print(sum_of_nth_term)

enter the 1st number4
enter the 2nd number6
enter number of terms needed10
22

Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [32]:
#taking the user input
num_1 = int(input("enter the value"))
deno_1 = int(input("enter the value"))
num_2 = int(input("enter the value"))
deno_2 = int(input("enter the value"))
#solving the logic
frac_1 = num_1/deno_1
frac_2 = num_2/deno_2
sum_frac = frac_1+frac_2
#print the result
print(sum_frac)

enter the value2
enter the value3
enter the value3
enter the value3
1.6666666666666665

Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.
Input:
Dimensions of the milk tank
H = 20cm, L = 20cm, B = 20cm

Dimensions of the glass
h = 3cm, r = 1cm

In [37]:
#taking the user input
#dimensions of the milk tank
h_of_milk_tank = int(input("enter the value"))
l_of_milk_tank = int(input("enter the value"))
b_of_milk_tank = int (input("enter the value"))
vol_of_milk_tank =h_of_milk_tank*l_of_milk_tank*b_of_milk_tank
#dimension of the glass
h_glass = int(input('enter the value'))
r_glass = int(input("enter the value"))
vol_glass = (h_glass *(r_glass)**2)*3.14
no_of_glass = vol_of_milk_tank/vol_glass
print(no_of_glass)

enter the value20
enter the value20
enter the value20
enter the value3
enter the value1
849.2569002123142